@import "reset.css";
@import "grid.css";
/*Base*/
html, body{
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: rgba(214,201,189,1);
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    /*height: 100%;*/  /*При установки высоты прекращает работать position: sticky;*/
}
main{
    z-index: 100;
    position: relative;
}
/*header*/

.header{
    background: url("../image/bg_logo.jpg") center ;

    background: -moz-linear-gradient(top, rgba(124,124,124,0.4) 0%, rgba(121,121,121,0.55) 35%, rgba(121,121,121,0.46) 65%, rgba(121,121,121,0.85) 100%), url("../image/bg_logo.jpg");
    background: -webkit-linear-gradient(top, rgba(124,124,124,0.4) 0%,rgba(121,121,121,0.55) 35%,rgba(121,121,121,0.46) 65%,rgba(121,121,121,0.85) 100%), url("../image/bg_logo.jpg");
    background: linear-gradient(to bottom, rgba(124,124,124,0.4) 0%,rgba(121,121,121,0.55) 35%,rgba(121,121,121,0.46) 65%,rgba(121,121,121,0.85) 100%), url("../image/bg_logo.jpg");
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667c7c7c', endColorstr='#c2797979',GradientType=0 );
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: relative;
}
.header__logo{
    padding-top: 220px;
}
.header__logo a{
    position: relative;
    text-decoration: none;
}
.header__logo--rhombus{
    background-image: url("../image/logo.png");
    width: 123px;
    height: 123px;
    color: #ffffff;
    z-index: 3;
    display: inline-block;
}
.header__logo-s{
    position: relative;
    background-image: url("../image/logo_s.png");
    width: 32px;
    height: 34px;
    color: #ffffff;
    top: -46px;
    left: -79px;
    z-index: 3;
    display: inline-block;
}
.header__title{
    color: #ffffff;
}
.header__title h1{
    padding-top: 140px;
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 14px;
}
.header__title span{
    margin: 50px 0;
    width: 105px;
    height: 2px;
    background: #ffffff;
    display: inline-block;
}
.header__button{
    padding:150px 0 70px 0;
}
.header__button__outline a{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 16px 40px;
    transition: 600ms ease;
}
.header__button__outline a:hover{
    background-color: #ada074;
}
.chevron{
    color: #ffffff;
    font-size: 20px;
    display: block;
    margin: 70px auto 140px auto;

}
.chevron__down{
    width: 40px;
    height: 80px;
    display: inline-block;
    margin: 70px auto 140px auto;
    position: relative;
}
.white{
    color: #ffffff;
}
.chevron__down i{
    position: absolute;

    top: -18px;
    opacity: 0;
    transition: 500ms ease;
    animation: chevron 0.9s ease infinite;
}
@keyframes chevron {
    to{top: 80px;
        opacity: 1;}
}









/*navigation*/
.menu{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px;
}
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11000;
}
.menu__logo a{
    font-size: 26px;
    font-weight: bold;
    color: #3c3c3c;
    text-decoration: none;
}
.menu__nav__item a{
    margin-left: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 15px;
    font-weight: bold;
}
.menu__nav__item a:hover{
    color: #ada074;
}
/*section about*/
.about{
    background-color: #ffffff;
}
.about__title h1{
    padding-top: 130px;
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #000000;
}
.about__title span{
    margin: 50px 0;
    width: 105px;
    height: 2px;
    background: #000000;
    display: inline-block;
}
.about__title h5{
    font-weight: 300;
    color: #a4a4a4;
    line-height: 26px;
}
.about__card{
    padding-top: 77px;
}
.about__card__circle{
    display: inline-flex;
    width: 91px;
    height: 91px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    transition: 500ms ease;
}
.about__card__circle:hover{
    border: 1px solid #ada074;
}
.about__card__circle span{
    color: #ada074;
    font-size: 32px;
}
.about__card h2{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 9px;
    text-transform: uppercase;
    padding: 55px 0 35px 0;
}
.about__card p{
    padding-bottom: 140px;
    line-height: 26px;
}
/*section Portfolio*/
.portfolio{
    background: url("../image/bg_portfolio.jpg") center;
    background: -moz-linear-gradient(top, rgba(124,124,124,0.75) 0%, rgba(124,124,124,0.75) 1%, rgba(121,121,121,0.46) 50%, rgba(121,121,121,0.85) 100%),url("../image/bg_portfolio.jpg") ;
    background: -webkit-linear-gradient(top, rgba(124,124,124,0.75) 0%,rgba(124,124,124,0.75) 1%,rgba(121,121,121,0.46) 50%,rgba(121,121,121,0.85) 100%),url("../image/bg_portfolio.jpg") ;
    background: linear-gradient(to bottom, rgba(124,124,124,0.75) 0%,rgba(124,124,124,0.75) 1%,rgba(121,121,121,0.46) 50%,rgba(121,121,121,0.85) 100%),url("../image/bg_portfolio.jpg") ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf7c7c7c', endColorstr='#d9797979',GradientType=0 );
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.portfolio__title h1{
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 14px;
    padding: 185px 0 40px 0;
}
.portfolio__title span{
    margin: 50px 0;
    width: 105px;
    height: 2px;
    background: #000000;
    display: inline-block;
}

.portfolio__01{
    background: url("../image/p_01.jpg") rgba(173,160,116,0) ;
    background-size: cover;
    background-blend-mode: multiply;
    transition: 600ms ease;
    width: 300px;
    height: 200px;
    margin: 10px;

}
.portfolio__02{
    background: url("../image/p_02.jpg") rgba(173,160,116,0) ;
    background-size: cover;
    background-blend-mode: multiply;
    transition: 600ms ease;
    width: 300px;
    height: 420px;
    margin: 10px;

}
.portfolio__03{
    background: url("../image/p_03.jpg") rgba(173,160,116,0) ;
    background-size: cover;
    background-blend-mode: darken;
    transition: 600ms ease;
    width: 300px;
    height: 200px;
    margin: 10px;
}
.portfolio__04{
    background: url("../image/p_04.jpg") rgba(173,160,116,0) ;
    background-size: cover;
    background-blend-mode: multiply;
    transition: 600ms ease;
    width: 300px;
    height: 200px;
    margin: 10px;
}



.portfolio__01:hover {
    background: url("../image/p_01.jpg") rgba(173, 160, 116, 0.7) ;
    background-size: cover;
    background-blend-mode: multiply;
}
.portfolio__02:hover {
    background: url("../image/p_02.jpg") rgba(173, 160, 116, 0.7) ;
    background-size: cover;
    background-blend-mode: multiply;
}
.portfolio__03:hover {
    background: url("../image/p_03.jpg") rgba(173, 160, 116, 0.7) ;
    background-size: cover;
    background-blend-mode: multiply;
}
.portfolio__04:hover{
    background: url("../image/p_04.jpg") rgba(173,160,116,0.7) ;
    background-size: cover;
    background-blend-mode: multiply;

}
.portfolio__item figcaption {
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top: 70px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255,255,255,0.0);
    display: block;
    transition: 600ms ease;

}
.portfolio__item figcaption:hover{
    color: rgba(255,255,255,0.9);
}










.portfolio__button{
    padding:150px 0 70px 0;
}
.portfolio__button__outline a{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 16px 40px;
    transition: 600ms ease;
}
.portfolio__button__outline a:hover{
    background-color: #ada074;
}
.black{
    color: #000000;
}
/*section Partners*/
.partners{
    width: 100%;
    height: 100%;
    background-color: rgba(53,70,73,1);
}
.partners h2{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 10px;
    padding: 100px 0;
    color: #ffffff;
}
.partners_item{
    padding-bottom: 100px;
}
/*section contact*/
.contact{
    background-color: rgba(180, 213, 207, 1);
    width: 100%;
    height: 100%;
}
.contact h1{
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 12px;
    padding: 180px 0 45px 0;
    color: #000000;
}
.contact__line{
    margin: 50px 0;
    width: 105px;
    height: 2px;
    background: #000000;
    display: inline-block;
}
.contact__item__name,.contact__item__message{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #000000;
    text-transform: uppercase;
}
.contact__item__name input{
    width: 160px;
    height: 36px;
    margin-top: 20px;
    background-color: #91a2a5;
    padding: 0;
    border-top: 1px solid #000000;
    font-size: 20px;
}
.contact__item__name input:active{
    background-color: #ada074 ;
}
.contact__item__message{
    padding: 70px 0 40px 0;
}
.contact__item__message textarea{
    width: 380px;
    height: 121px;
    margin-top: 20px;
    background-color: #91a2a5;
    padding: 0;
    border-top: 1px solid #000000;
    font-size: 20px;
    resize: none;
}
.contact__button{
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(180, 213, 207, 1);
    margin-bottom: 90px;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: 500ms ease;
}
.contact__button:hover{
    background-color: #ada074;
}
.contact__item p{
    font-weight: bold;
    padding-bottom: 40px;
}
.contact__item a{
    color: #000000;
}
/*footer*/
.footer {
    width: 100%;
    background-color: #3c3c3c;
    z-index:0 ;
    position: sticky;
    bottom: 0;
}
.footer__logo{
    padding-top: 48px;
}
.footer__logo a{
    position: relative;
    color:#555555;
    text-decoration: none;
}
.footer__logo--rhombus{
    background-image: url("../image/logo_footer1.png");
    width: 58px;
    height: 58px;
    z-index: 1;
    display: inline-block;
    color:#555555;
}
.footer__logo-s{
    position: relative;
    background-image: url("../image/logo_footer2.png");
    width: 16px;
    height: 17px;
    top: -22px;
    left: -40px;
    z-index: 2;
    display: inline-block;
    color:#555555;
}
.footer__menu__item{
    padding: 40px 0;
}
.footer__menu__item a{
    margin-left: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 15px;
    font-weight: bold;
}
.footer__menu__item a:hover{
    color: #ada074;
}
.footer__copy{
    padding-bottom: 60px;
}